#button_findout
{
	background-color: red;
	color: white;
	width: 150px;
	height: 40px;
}

h1
{
  color: red;
  padding-top: 30px;
	padding-bottom: 15px;
}

#result {
  display: none;
}
